.list-container{
  flex: 2;
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: 5vh auto 5vh auto;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-header{
  text-align: left;
  color: #2262A0;
}

.list-item-border{
  height:0.15vh;
  width: 100%;
  background-color: #2262A0;
}

.list-header h3{
  color: #2262A0;
  margin-left: 5vw;
  font-size: 1.5em;
  margin-top: 2.5vh;
}

.legend-container{
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  font-size: 0.75em;
  position: absolute;
  top: 10vh;
}

.value-container{
  align-content: center;
  justify-content: center;
}

.value-color{
  border-radius: 100%;
  background-color: #000;
  width: 0.5em;
  height: 0.5em;
  margin-left: 5vw;
  display: inline-block;
}
