.list-container{
  flex: 2;
  width: 90vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  background-color: #fff;
  margin: auto;
  border-radius: 20px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.list-header{
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #2262A0;
  width: 100%;
}

.list-item-border{
  height:0.15vh;
  width: 100%;
  background-color: #2262A0;
}

.list-header h3{
  color: #2262A0;
  margin: 5vh auto 0 auto;
}

.legend-container{
  width: 100%;
  display: flex;
  justify-content: center;
  
}

.value-container{
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.value-item{
  margin: 3px;
  text-align: center;
}

.value-color{
  
  border-radius: 100%;
  width: 0.5em;
  height: 0.5em;
}
