.list-container{
  flex: 2;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: flex-start;
  background-color: #145386;
  height: 60vh;
}

.list-header{
  margin: 0vh 0vh 0vh 5vh;
}
