.list-item-container{
    background: #47A897;
    flex: 1;
    transition: 1s;
    display: flex;
    flex-direction: 'column';
    margin: 5vh 5vh 0vh 5vh;
    border-radius: 6px;
    color: #fff;
}

.list-item-container:hover{
    background: #e1e1e1;
}

.title-container{
    flex: 1;
    display: flex;
    flex-direction: 'row';
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.title-container p{
    flex: 10;
    font-size: 1em;
    margin-left: 5%;
}

.location-image-small{
    flex: 1;
    justify-self: right;
    margin: auto 5% auto auto;
    height: 75%;
}

.list-item-expand{
    height: 0vh;
    width: 100%;
    font-size: 0em;
    background: #c4c4c4;
    transition: 1s;
    border-radius: 12px;
}