.list-item-container{
    transition: 1s;
    display: flex;
    flex-direction: 'column';
    color: #145386;
    transition: 0.25s;
    height: 7.5vh;
    margin: 3% 0% 3% 0%;
}

.index-container{
    border-radius: 100%;
    text-align: center;
    color: #fff;
    background-color: #2262A0;
    width: 2em;
    height: 2em;
    margin-left: 5%;
    vertical-align: middle;
}

.index-container p{
    font-size: 1em;
    margin: auto;
    line-height: 2em;
}

.title-container{
    flex: 1;
    display: flex;
    flex-direction: 'row';
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.title-container p{
    flex: 10;
    font-size: 1em;
    margin-left: 5%;
}

.location-image-small{
    flex: 1;
    justify-self: right;
    margin: auto 5% auto auto;
    height: 75%;
}

.list-item-expand{
    height: 0vh;
    width: 100%;
    font-size: 0em;
    background: #c4c4c4;
    transition: 1s;
    border-radius: 12px;
}