.best-image{
    position: relative;
}

.best-container{
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
    color: #2262A0;
    background-color: white;
    z-index: 1;
    width: 90vw;
    margin: auto;
    margin-bottom: 10vh;
    border-radius: 20px;
    margin-top: 10vh;
    padding-top: 5vh;
}

.best-container h1, h2, h3{
    margin-top: 0%; 
    color: #2262A0;
}

.best-container h3 {
    font-size: 1.25em;
}

.best-container h2 {
    font-size: 1.5em;
}

.best-container h1 {
    font-size: 2em;
}