.best-image{
    height: 50vw;
    width: 50vw;
    position: relative;
}

.location-button{
    position: relative;
    background-color: #9A4A81;
    background: linear-gradient(127deg, #F6836E, #E32A53);
    z-index: 0;
    margin: auto auto -19% auto;
    width: 50vw;
    border-radius: 50px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: 'row';
    flex-wrap: nowrap;
    transition: 1s;
}

.location-button:hover{
    transform: scale(1.1);
    box-shadow: 0px 5px rgba(0,0,0,0.1);
}

.location-button p{
    flex: 3;
    font-size: 1em;
    margin-left: 5%;
    color: #fff;
}

.location-image{
    flex: 1;
    justify-self: right;
    margin: auto 5% auto auto;
    height: 75%;
}

.best-container{
    flex: 1;
    align-content: center;
    justify-content: center;
    text-align: center;
    background-color: #145386;
    background: linear-gradient(0deg, rgba(0, 204, 141, 0.5), rgba(1, 18, 44, 1));
    animation: wave 12s infinite;
    -webkit-animation: wave 12s infinite;
    -moz-animation: wave 12s infinite;
    background-size: 100% 100%;
    color: #fff;
}

.best-container h3 {
    margin-top: 20vh;
    margin-bottom: 5vh;
    font-weight: lighter;
    font-size: 1.25em;
}

.best-container h2 {
    margin-bottom: 10vh;
    font-size: 1.25em;
}


.best-container h1 {
    font-size: 1.5em;
}

@keyframes wave{
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

@-webkit-keyframes wave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

@-moz-keyframes wave {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.image-cover{
    height: 0px;
    width: 0px;
    border: 0vw solid transparent; 
    border-right:100vw solid #145386;
    border-left: 0; 
    border-bottom: 0; 
    border-top: 25vw solid transparent;
    z-index: 1;
}